body {
  font-family: "RocknRoll One", sans-serif;
}

#app {
  width: 100%;
  height: 85vh;
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "RocknRoll One", sans-serif;
}

.letter {
  transition: 0.3s ease-out;
  display: inline-block;
  font-size: 24px;
  padding: 10px;
  background-color: aquamarine;
  cursor: pointer;
  position: absolute;
  top: 46.5%;
  left: 46.5%;
  transform: translate(-46.5%, -46.5%);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button {
  font-family: "RocknRoll One", sans-serif;
}

#startBtn,
#againBtn {
  background-color: rgb(0, 199, 60);
  border: none;
  font-size: 20px;
  padding: 12px 27px;
  cursor: pointer;
}

#againBtn {
  display: none;
}

#congrats {
  display: none;
  font-size: 20px;
  color: rgb(18, 114, 31);
}
